Repository deepak-yadav-1993/react-redux: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Frontend, Build Backend

Build Frontend:
  caches:
  - node
  script:
  - unset CI
  - npm clean-install
  - npm run build
  - export FRONTEND=deepaky193/personal_finance_app:latest
  - docker login --username $DOCKER_USERID --password $DOCKER_PASSWORD
  - npm run publishImage

Build Backend:
  script:
  - cd ./Server
  - export BACKEND=deepaky193/finance_server:latest
  - docker login --username $DOCKER_USERID --password $DOCKER_PASSWORD
  - docker build -t $BACKEND .
  - docker push $BACKEND

Testing backend pipeline
  Server/app.js
Due: Build Backend

1. Updated Node to v 14\n2. Updated Redux files to .ts and added db type
  .nvmrc
  Server/.nvmrc
  Server/Dockerfile
  scripts/build.sh
  src/components/ErrorComponent.tsx
  src/redux/ActionCreaters.ts
  src/redux/ActionTypes.ts
  src/redux/reducers/authStore.js
  src/shared/ApiCallService.ts
  src/shared/GoogleAuthCreds.ts
  src/shared/Type.ts
Due: Build Frontend, Build Backend

Updated prettier config and started using dotenv module
  .gitignore
  .prettierrc.json
  Server/.env_example
  Server/app.js
  Server/package-lock.json
  Server/package.json
  Server/src/routes/getRoutes.js
  Server/src/schema/userSchema.js
Due: Build Backend

Updated packages
  package-lock.json
  package.json
Due: Build Frontend

Updated Server
  Server/package-lock.json
  Server/package.json
Due: Build Backend

Removed prettier
  .gitignore
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: Build Frontend

Adding back the prettier
  .prettierrc.json
  package-lock.json
  package.json
Due: Build Frontend

Adding eslint
  package-lock.json
  package.json
Due: Build Frontend

Added eslint configs
  .prettierrc.json
  package-lock.json
  package.json
Due: Build Frontend

Added eslint configs
  .eslintrc.json
  .prettierrc.json
Due: none

Added prettier eslint
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: Build Frontend

Commit all changes highlighted by eslint
  Server/app.js
  Server/src/common.js
  Server/src/routes/getRoutes.js
  Server/src/schema/userSchema.js
  src/App.test.tsx
  src/App.tsx
  src/components/ErrorComponent.tsx
  src/components/GoogleAuth.tsx
  src/components/MainComponent.tsx
  src/components/UserInputForm.tsx
  src/redux/ActionCreaters.ts
  src/redux/configureStore.js
  src/redux/reducers/authStore.js
  src/shared/ApiCallService.ts
  src/shared/Type.ts
Due: Build Frontend, Build Backend

Fixing the pipeline failure
  Server/Dockerfile
  Server/app.js
  Server/package-lock.json
  Server/package.json
  bitbucket-pipelines.yml
Due: Build Backend

Fixing the pipeline failure
  Server/Dockerfile
  Server/src/routes/getRoutes.js
  src/redux/reducers/authStore.js
Due: Build Frontend, Build Backend

Fixing the pipeline failure again
  Server/src/routes/getRoutes.js
  package-lock.json
  package.json
  src/redux/reducers/authStore.js
Due: Build Frontend, Build Backend

Adding logs
  Server/app.js
Due: Build Backend

bitbucket-pipelines.yml edited online with Bitbucket
  bitbucket-pipelines.yml
Due: none

app.js edited online with Bitbucket
  Server/app.js
Due: Build Backend

Setting db password as environment variable
  Server/Dockerfile
  Server/app.js
  bitbucket-pipelines.yml
Due: Build Backend

pass build arguments in the pipeline
  bitbucket-pipelines.yml
Due: none

Trigger build
  Server/app.js
Due: Build Backend

Build fix
  Server/app.js
  bitbucket-pipelines.yml
Due: Build Backend

Build fix pipeline failure
  Server/app.js
  bitbucket-pipelines.yml
Due: Build Backend

Fixing dockerfile consumption of args
  Server/Dockerfile
  Server/app.js
Due: Build Backend

Fixing dockerfile consumption of args again
  Server/Dockerfile
  Server/app.js
Due: Build Backend

Setting up correct name for the evironment variable
  Server/Dockerfile
  Server/app.js
Due: Build Backend

Moving google secrets to environment variables
  Server/app.js
Due: Build Backend

Moving google secrets to environment variables
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  scripts/build.sh
  src/components/GoogleAuth.tsx
  src/shared/GoogleAuthCreds.ts
Due: Build Frontend

Printing out env varibales
  src/components/GoogleAuth.tsx
Due: Build Frontend

Printing out env
  src/components/GoogleAuth.tsx
Due: Build Frontend

Debugging environment varibles
  scripts/build.sh
  src/components/GoogleAuth.tsx
Due: Build Frontend

Debugging environment varibles
  bitbucket-pipelines.yml
  src/components/GoogleAuth.tsx
Due: Build Frontend

Removing shell script
  bitbucket-pipelines.yml
  scripts/build.sh
  src/components/GoogleAuth.tsx
Due: Build Frontend

Updating nginx config
  nginx.conf
  src/components/GoogleAuth.tsx
Due: Build Frontend

Reverting changes to nginx config
  bitbucket-pipelines.yml
  nginx.conf
Due: Build Frontend

Reverting changes to nginx config
  bitbucket-pipelines.yml
  public/index.html
Due: none

Reverting changes to nginx config
  src/components/GoogleAuth.tsx
Due: Build Frontend

Dynamically genrating .env file
  bitbucket-pipelines.yml
  src/components/GoogleAuth.tsx
Due: Build Frontend

Dynamically genrating .env file and using react env
  bitbucket-pipelines.yml
  src/components/GoogleAuth.tsx
Due: Build Frontend

Path conditions:
  Build Frontend: any of: src/**, package*.json, Dockerfile, nginx.conf
  Build Backend: any of: Server/**
